@import '~bootstrap/scss/bootstrap';

.card {
    margin-bottom: 2em;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: var(--tg-theme-secondary-bg-color);
    color: var(--tg-theme-text-color);
}

.navbar {
    margin-bottom: 1em;
    background-color: var(--tg-theme-header-bg-color);
}

.navbar-brand {
    color: var(--tg-theme-text-color);
}

.navbar-brand:focus {
    color: var(--tg-theme-text-color);
}

.navbar-brand:hover {
    color: var(--tg-theme-text-color);
}

.btn-primary {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.btn-primary:active {
    background-color: var(--tg-theme-text-color);
    color: var(--tg-theme-button-color);
}

.btn-primary:focus {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.btn-primary:hover {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.toggle-queue {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

.toggle-queue:focus {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-text-color);
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

